---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Porfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold">
				Hola, soy Javi <Badge>Contáctame</Badge>
			</h1>
			<h2>
				+ 6 años de experiencia. Desarollo web con WordPress + Elementor
			</h2>
		</section>
	</main>
</Layout>

<style></style>
